
add_library( freezone_plugins
   mf_plugins.cpp
   ${CMAKE_CURRENT_SOURCE_DIR}/include/freezone/manifest/plugins.hpp
)

target_link_libraries( freezone_plugins appbase fc
{% for plugin in plugins %}
   {{ plugin["plugin_project"] }}
{% endfor %}
)

target_include_directories( freezone_plugins
   PUBLIC "${CMAKE_CURRENT_SOURCE_DIR}/include"
   )

INSTALL( TARGETS
   freezone_plugins

   RUNTIME DESTINATION bin
   LIBRARY DESTINATION lib
   ARCHIVE DESTINATION lib
)
